<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <form #loanForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="applicantName">Applicant Name*</label>
              <input type="text" class="form-control" required minlength="3" maxlength="40" ngModel
                #applicantName="ngModel" name="applicantName">
              <p class="text-danger" *ngIf="applicantName.touched && applicantName.hasError('required')">Applicant Name
                is a required field.</p>
              <p class="text-danger" *ngIf="applicantName.dirty && applicantName.hasError('minlength')">
                The minlength of Applicant name should be {{applicantName.errors?.['minlength'].requiredLength}} and the actual length {{applicantName.errors?.['minlength'].actualLength}}.
              </p>
            </div>

            <div class="form-group">
              <label for="email">Email*</label>
              <input type="text" class="form-control" required
                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" ngModel #email="ngModel" name="email">
              <p class="text-danger" *ngIf="email.touched && email.hasError('required')">Email is a
                required field.</p>
              <p class="text-danger" *ngIf="email.dirty && email.hasError('pattern')">
                Plz enter valid email id.
              </p>
            </div>

            <div class="form-group">
              <label for="mobileNo">Mobile Number*</label>
              <input type="text" class="form-control" required pattern="^[0-9]{10}$" ngModel #mobileNo="ngModel"
                name="mobileNo">
              <p class="text-danger" *ngIf="mobileNo.touched && mobileNo.hasError('required')">Mobile Number is a
                required field.</p>
              <p class="text-danger" *ngIf="mobileNo.dirty && mobileNo.hasError('pattern')">
                Plz enter valid Mobile Number.
              </p>
            </div>

            <div class="form-group">
              <label for="panNo">PAN Number*</label>
              <input type="text" class="form-control" required pattern="^[A-Z]{5}[0-9]{4}[A-Z]{1}$" ngModel
                #panNo="ngModel" name="panNo">
              <p class="text-danger" *ngIf="panNo.touched && panNo.hasError('required')">PAN Number is a
                required field.</p>
              <p class="text-danger" *ngIf="panNo.dirty && panNo.hasError('pattern')">
                Plz enter valid PAN Number.
              </p>
            </div>

            <div class="form-group">
              <label for="aadharNo">Aadhaar Number*</label>
              <input type="text" class="form-control" required pattern="^[0-9]{12}$" ngModel #aadharNo="ngModel"
                name="aadharNo">
              <p class="text-danger" *ngIf="aadharNo.touched && aadharNo.hasError('required')">Aadhaar Number is a
                required field.</p>
              <p class="text-danger" *ngIf="aadharNo.dirty && aadharNo.hasError('pattern')">
                Plz enter valid Aadhaar Number.
              </p>
            </div>

            <div class="form-group">
              <label for="annualIncome">Annual Income*</label>
              <input type="text" class="form-control" required ngModel #annualIncome="ngModel" name="annualIncome">
              <p class="text-danger" *ngIf="annualIncome.touched && annualIncome.hasError('required')">Annual Income is
                a
                required field.</p>
            </div>

            <div class="form-group">
              <label for="loanName">Loan Amount*</label>
              <input type="number" min="50000" class="form-control" required ngModel #loanName="ngModel"
                name="loanName">
              <p class="text-danger" *ngIf="loanName.touched && loanName.hasError('required')">Loan Amount is a
                required field.</p>
              <p class="text-danger" *ngIf="loanName.dirty && loanName.hasError('min')">
                Plz enter valid Loan Amount.
              </p>
            </div>

            <button class="btn btn-sm btn-block btn-primary">Apply</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>